@import url(https://jkamhub.github.io/css/font_stylesheet.css);

/* basic css */

* {word-break:keep-all; box-sizing:border-box; font-family: "Pretendard Variable"; }

html, body {width: 100%; }

body, a { font-size: 1rem; line-height: 1rem; color: #333; font-weight: 500; letter-spacing: -.5px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset,
input, textarea, button, p, table, th, td {margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 {font-size:100%; }

li {list-style: none; }
img {border: 0 none; }
a, a:link {color:#ff501b; text-decoration: none; }

/* mobile css */
@media (max-width: 774px) {

    .regDetailView_1 {
        transform: scale(1.239, 1.239);
        transform-origin: top;
    }

}

/* web css */

.regDetailView {
    width: 100%;
    margin:0;
    padding:0;
}

.regDetailView .tempArea {
    width: 100%;
}

.tempColor_1 {
    display:grid;
    grid-auto-flow:row;
    row-gap:1.563rem;
}

.regDetailView .tempArea .tempSec {
    display:grid;
    grid-auto-flow:row;
    row-gap:0.625rem;
    margin:0 auto;
    padding:0;
    line-height: inherit;
}

.regDetailView .tempArea .tempRecruit .txtWp {
    padding:0 !important; 
}








