@import url(https://jkamhub.github.io/css/font_stylesheet.css);

/* basic css */

* {word-break:keep-all; box-sizing:border-box; font-family: "Pretendard Variable"; }

html, body {width: 100%; }

body, a { font-size: 16px; line-height: 30px; color: #333; font-weight: 500; letter-spacing: -.5px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset,
input, textarea, button, p, table, th, td {margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 {font-size:100%; }

li {list-style: none; }
img {border: 0 none; }
a, a:link {color:#ff501b; text-decoration: none; }

/* mobile css */
@media (max-width: 774px) {

    .regDetailView_1 {
        max-width: 795px;
        padding-top: 0;
    }

}

/* web css */

.regDetailView {
    width: 815px;
}

.regDetailView .tempArea {
    width: 775px;
}