.wrapbox {
    width: 775px;
    margin: 0 auto;
    display:grid;
    grid-auto-flow:row;
    row-gap:2rem;
}

.company_txt_box {background:#ffdddd;}
.info_box {background:#fff89e;}
.job_box01 {display:grid; grid-template-rows: repeat(2,max-content); row-gap:1rem; }
.job_box01_header {background:#baffea;}
.job_box01_body {background:#d1e8ff;}







