.am_wrapbox {
    width: 755px;
    margin: 0 auto;
    padding: 29px 20px;
}
.am_wrapbox .tempArea {
    width: 755px;
    font-size: 1rem;
}
.am_wrapbox .tempArea .tempTop .visual {
    position: relative;
    overflow: hidden;
    width: 755px;
}
.am_wrapbox .tempArea .tempTop .visual .dLogo {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}
.am_wrapbox .tempArea .tempTop .visual .dTit {
    position: absolute;
    top: 100px;
    left: 0;
    width: 725px;
    height: 80px;
    margin: 0 auto;
    padding: 0 25px;
    font: 700 30px '맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif;
    text-align: center;
    color: #202020;
    letter-spacing: -3px;
    background: 0 0;
    line-height: 140%;
}
.am_wrapbox .tempArea .tempSec {
    position: relative;
    margin: 17px 0 0;
    padding: 5px 0 0;
}
.am_wrapbox .tempArea .tempSec .sTempTit {
    font-size: 1.375rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: -1px;
}
.am_wrapbox .tempArea .tempSec .tIcon {
    display: inline-block;
    margin-right: 10px;
    background: #fff url("https://contents.albamon.kr/monimg/corp/detail/icon_title_1.png") no-repeat 0 0;
    vertical-align: -4px;
}
.am_wrapbox .tempArea .tempSec .txtWp {
    padding: 8px 26px 0;
    line-height: 200%;
    color: #353535;
}
.am_wrapbox .tempArea .tempSec .txtWp .sIcon {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 6px;
    background: #000 url("https://contents.albamon.kr/monimg/corp/detail/icon_detail_all.png") no-repeat -260px 0;
    vertical-align: middle;
}
.am_wrapbox .tempArea .tempSec .txtWp li {
    padding: 0 0 0 10px;
    background: url("https://contents.albamon.kr/monimg/corp/detail/icon_spot_1.png") no-repeat 0 15px;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl th {
    padding: 0 20px 4px;
    height: 38px;
    border-left: 1px solid #c1c1c1;
    background: #6c6c6c;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    letter-spacing: -1px;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl td {
    padding: 10px 14px 13px;
    border-bottom: 1px solid #c1c1c1;
    border-left: 1px solid #bdc4cb;
    color: #353535;
    letter-spacing: -1px;
    line-height: 200%;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl td:first-child {
    border-left: none;
    font-weight: 700;
    text-align: center;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table {
    width: 100%!important;
    margin: 0;
    border-collapse: collapse;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table:not(:first-of-type) {
    margin-top: 16px;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr > td > span,
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr th {
    border: 1px solid #c1c1c1;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr > td > span {
    display: block;
    border-top: none;
    border-bottom: none;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr:first-child > td > span {
    border-top: 1px solid #c1c1c1;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr th:first-child {
    width: 30%;
}
.am_wrapbox .tempArea .tempSec .txtWp > figure.table,
.am_wrapbox .tempArea .tempSec .txtWp > table {
    width: calc(100% + 30px)!important;
    margin: 0 -15px;
}
.am_wrapbox .tempArea .tempSec .txtWp > figure.table table,
.am_wrapbox .tempArea .tempSec .txtWp > table table {
    width: 100%;
}
.am_wrapbox .tempArea .tempWork {
    margin: 23px 0 0;
}
.am_wrapbox .tempArea .tempRecruit {
    margin: 25px 0 0;
}
.am_wrapbox .tempArea .tempRecruit .txtWp {
    padding: 10px 0 0!important !important;
}
.am_wrapbox .tempArea .bLogo {
    padding: 24px 0 0;
}
.am_wrapbox .tempType_1 .tempTop .visual {
    height: 380px;
}
.am_wrapbox .tempType_1 .tempTop .visual .dLogo {
    top: 35px;
    text-align: center;
}
.am_wrapbox .tempType_1 .tempTop .visual .dTit {
    top: 108px;
    left: 0;
    text-align: center;
}
.am_wrapbox .tempType_1 .tempColor_1 .tempTop .visual {
    border-top: 5px solid #202020;
    border-bottom: 3px solid #202020;
}
.am_wrapbox .tempType_1 .tempColor_1 .tempSec .tIcon {
    background-position: 0 0;
}
.am_wrapbox .tempType_1 .tempColor_2 .tempTop .visual {
    border-top: 5px solid #0170b9;
    border-bottom: 3px solid #0170b9;
}
.am_wrapbox .tempType_1 .tempColor_2 .tempSec .tIcon {
    background-position: -36px 0;
}
.am_wrapbox .tempType_1 .tempColor_2 .tempSec .tempTbl tr th {
    background: #0170b9;
}
.am_wrapbox .tempType_1 .tempColor_3 .tempTop .visual {
    border-top: 5px solid #7fca67;
    border-bottom: 3px solid #7fca67;
}
.am_wrapbox .tempType_1 .tempColor_3 .tempSec .tIcon {
    background-position: -72px 0;
}
.am_wrapbox .tempType_1 .tempColor_3 .tempSec .tempTbl tr th {
    background: #5ebf4f;
}
.am_wrapbox .tempType_1 .tempColor_4 .tempTop .visual {
    border-top: 5px solid #ffce59;
    border-bottom: 3px solid #ffce59;
}
.am_wrapbox .tempType_1 .tempColor_4 .tempSec .tIcon {
    background-position: -108px 0;
}
.am_wrapbox .tempType_1 .tempColor_4 .tempSec .tempTbl tr th {
    background: #ffbd1f;
}
.am_wrapbox .tempType_1 .tempColor_5 .tempTop .visual {
    border-top: 5px solid #ff772d;
    border-bottom: 3px solid #ff772d;
}
.am_wrapbox .tempType_1 .tempColor_5 .tempSec .tIcon {
    background-position: -144px 0;
}
.am_wrapbox .tempType_1 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ff7428;
}
.am_wrapbox .tempType_1 .tempColor_6 .tempTop .visual {
    border-top: 5px solid #905d3b;
    border-bottom: 3px solid #905d3b;
}
.am_wrapbox .tempType_1 .tempColor_6 .tempSec .tIcon {
    background-position: -180px 0;
}
.am_wrapbox .tempType_1 .tempColor_6 .tempSec .tempTbl tr th {
    background: #8c674e;
}
.am_wrapbox .tempType_1 .tIcon {
    width: 26px;
    height: 24px;
    vertical-align: -5px!important;
}
.am_wrapbox .tempType_2 .tempTop .visual {
    height: 435px;
}
.am_wrapbox .tempType_2 .tempTop .visual .dLogo {
    top: 85px;
    text-align: center;
}
.am_wrapbox .tempType_2 .tempTop .visual .dTit {
    top: 147px;
    left: 0;
    text-align: center;
}
.am_wrapbox .tempType_2 .tempColor_1 .tempSec .tIcon {
    background-position: 0-40px;
}
.am_wrapbox .tempType_2 .tempColor_1 .tempSec .tempTbl tr th {
    background: #e8eaec;
    border-top: 2px solid #7e7e7e;
}
.am_wrapbox .tempType_2 .tempColor_2 .tempSec .tIcon {
    background-position: -36px -40px;
}
.am_wrapbox .tempType_2 .tempColor_2 .tempSec .tempTbl tr th {
    background: #c8e6f9;
    border-top: 2px solid #60a1cb;
}
.am_wrapbox .tempType_2 .tempColor_3 .tempSec .tIcon {
    background-position: -72px -40px;
}
.am_wrapbox .tempType_2 .tempColor_3 .tempSec .tempTbl tr th {
    background: #cff5c9;
    border-top: 2px solid #69c95b;
}
.am_wrapbox .tempType_2 .tempColor_4 .tempSec .tIcon {
    background-position: -108px -40px;
}
.am_wrapbox .tempType_2 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff4b8;
    border-top: 2px solid #fbdf6d;
}
.am_wrapbox .tempType_2 .tempColor_5 .tempSec .tIcon {
    background-position: -144px -40px;
}
.am_wrapbox .tempType_2 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ffe5d7;
    border-top: 2px solid #ff9459;
}
.am_wrapbox .tempType_2 .tempColor_6 .tempSec .tIcon {
    background-position: -180px -40px;
}
.am_wrapbox .tempType_2 .tempColor_6 .tempSec .tempTbl tr th {
    background: #f2e6de;
    border-top: 2px solid #b69b88;
}
.am_wrapbox .tempType_2 .tempTbl tr th,
.am_wrapbox .tempType_3 .tempTbl tr th,
.am_wrapbox .tempType_4 .tempTbl tr th {
    height: 36px!important;
    color: #202020!important;
}
.am_wrapbox .tempType_2 .tIcon {
    width: 23px;
    height: 23px;
    vertical-align: -5px!important;
}
.am_wrapbox .tempType_3 .tempTop .visual {
    height: 360px;
}
.am_wrapbox .tempType_3 .tempTop .visual .dLogo {
    top: 100px;
    text-align: center;
}
.am_wrapbox .tempType_3 .tempTop .visual .dTit {
    top: 162px;
    left: 0;
    text-align: center;
}
.am_wrapbox .tempType_3 .tempColor_1 .tempSec .tIcon {
    background-position: 0-80px;
}
.am_wrapbox .tempType_3 .tempColor_1 .tempSec .tempTbl tr th {
    background: #e6e6e6;
    border-top: 2px solid #676767;
}
.am_wrapbox .tempType_3 .tempColor_2 .tempSec .tIcon {
    background-position: -36px -80px;
}
.am_wrapbox .tempType_3 .tempColor_2 .tempSec .tempTbl tr th {
    background: #cdebff;
    border-top: 2px solid #0a74b9;
}
.am_wrapbox .tempType_3 .tempColor_3 .tempSec .tIcon {
    background-position: -72px -80px;
}
.am_wrapbox .tempType_3 .tempColor_3 .tempSec .tempTbl tr th {
    background: #cef0c8;
    border-top: 2px solid #80b66e;
}
.am_wrapbox .tempType_3 .tempColor_4 .tempSec .tIcon {
    background-position: -108px -80px;
}
.am_wrapbox .tempType_3 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff4b8;
    border-top: 2px solid #ffc600;
}
.am_wrapbox .tempType_3 .tempColor_5 .tempSec .tIcon {
    background-position: -144px -80px;
}
.am_wrapbox .tempType_3 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ffe8db;
    border-top: 2px solid #ff9150;
}
.am_wrapbox .tempType_3 .tempColor_6 .tempSec .tIcon {
    background-position: -180px -80px;
}
.am_wrapbox .tempType_3 .tempColor_6 .tempSec .tempTbl tr th {
    background: #f8ede5;
    border-top: 2px solid #aa856c;
}
.am_wrapbox .tempType_3 .tIcon,
.am_wrapbox .tempType_4 .tIcon {
    width: 30px;
    height: 30px;
}
.am_wrapbox .tempType_4 .tempTop .visual {
    height: 412px;
    border-bottom: 1px solid #b1a79d!important;
}
.am_wrapbox .tempType_4 .tempTop .visual .dLogo {
    top: 37px;
    left: 15px;
    text-align: left;
}
.am_wrapbox .tempType_4 .tempTop .visual .dTit {
    top: 95px;
    left: 10px;
    padding: 0;
    text-align: left!important;
}
.am_wrapbox .tempType_4 .tempColor_1 .tempTop .visual {
    border-top: 3px solid #5a5a5a;
}
.am_wrapbox .tempType_4 .tempColor_1 .tempSec .tIcon {
    background-position: 0-120px;
}
.am_wrapbox .tempType_4 .tempColor_1 .tempSec .tempTbl tr th {
    background: #e9e9e9;
    border-top: 2px solid #7f7f7f;
}
.am_wrapbox .tempType_4 .tempColor_2 .tempTop .visual {
    border-top: 3px solid #016cb2;
}
.am_wrapbox .tempType_4 .tempColor_2 .tempSec .tIcon {
    background-position: -36px -120px;
}
.am_wrapbox .tempType_4 .tempColor_2 .tempSec .tempTbl tr th {
    background: #cfecff;
    border-top: 2px solid #499ad0;
}
.am_wrapbox .tempType_4 .tempColor_3 .tempTop .visual {
    border-top: 3px solid #80cf74;
}
.am_wrapbox .tempType_4 .tempColor_3 .tempSec .tIcon {
    background-position: -72px -120px;
}
.am_wrapbox .tempType_4 .tempColor_3 .tempSec .tempTbl tr th {
    background: #d7f8d2;
    border-top: 2px solid #92d987;
}
.am_wrapbox .tempType_4 .tempColor_4 .tempTop .visual {
    border-top: 3px solid #ffce59;
}
.am_wrapbox .tempType_4 .tempColor_4 .tempSec .tIcon {
    background-position: -108px -120px;
}
.am_wrapbox .tempType_4 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff4b8;
    border-top: 2px solid #f4de84;
}
.am_wrapbox .tempType_4 .tempColor_5 .tempTop .visual {
    border-top: 3px solid #ff7827;
}
.am_wrapbox .tempType_4 .tempColor_5 .tempSec .tIcon {
    background-position: -144px -120px;
}
.am_wrapbox .tempType_4 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ffe4d4;
    border-top: 2px solid #ffb081;
}
.am_wrapbox .tempType_4 .tempColor_6 .tempTop .visual {
    border-top: 3px solid #b17d5a;
}
.am_wrapbox .tempType_4 .tempColor_6 .tempSec .tIcon {
    background-position: -180px -120px;
}
.am_wrapbox .tempType_4 .tempColor_6 .tempSec .tempTbl tr th {
    background: #f4e7df;
    border-top: 2px solid #bca291;
}
.am_wrapbox .tempType_5 .tempTop .visual {
    height: 367px;
}
.am_wrapbox .tempType_5 .tempTop .visual .dLogo {
    top: 177px;
    text-align: center;
}
.am_wrapbox .tempType_5 .tempTop .visual .dTit {
    top: 242px;
    left: 0;
    text-align: center;
}
.am_wrapbox .tempType_5 .tempColor_1 .tempTop .visual {
    border-top: 3px solid #616161;
    border-bottom: 3px solid #616161;
}
.am_wrapbox .tempType_5 .tempColor_1 .tempSec .tIcon {
    background-position: 0-160px;
}
.am_wrapbox .tempType_5 .tempColor_1 .tempSec .tempTbl tr th {
    background: #6c6c6c;
}
.am_wrapbox .tempType_5 .tempColor_2 .tempTop .visual {
    border-top: 3px solid #1a8bd4;
    border-bottom: 3px solid #1a8bd4;
}
.am_wrapbox .tempType_5 .tempColor_2 .tempSec .tIcon {
    background-position: -36px -160px;
}
.am_wrapbox .tempType_5 .tempColor_2 .tempSec .tempTbl tr th {
    background: #0a74b9;
}
.am_wrapbox .tempType_5 .tempColor_3 .tempTop .visual {
    border-top: 3px solid #84d178;
    border-bottom: 3px solid #84d178;
}
.am_wrapbox .tempType_5 .tempColor_3 .tempSec .tIcon {
    background-position: -72px -160px;
}
.am_wrapbox .tempType_5 .tempColor_3 .tempSec .tempTbl tr th {
    background: #63bf55;
}
.am_wrapbox .tempType_5 .tempColor_4 .tempTop .visual {
    border-top: 3px solid #ffce5a;
    border-bottom: 3px solid #ffce5a;
}
.am_wrapbox .tempType_5 .tempColor_4 .tempSec .tIcon {
    background-position: -108px -160px;
}
.am_wrapbox .tempType_5 .tempColor_4 .tempSec .tempTbl tr th {
    background: #ffc333;
}
.am_wrapbox .tempType_5 .tempColor_5 .tempTop .visual {
    border-top: 3px solid #ff8533;
    border-bottom: 3px solid #ff8533;
}
.am_wrapbox .tempType_5 .tempColor_5 .tempSec .tIcon {
    background-position: -144px -160px;
}
.am_wrapbox .tempType_5 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ff7a31;
}
.am_wrapbox .tempType_5 .tempColor_6 .tempTop .visual {
    border-top: 3px solid #9c7961;
    border-bottom: 3px solid #9c7961;
}
.am_wrapbox .tempType_5 .tempColor_6 .tempSec .tIcon {
    background-position: -180px -160px;
}
.am_wrapbox .tempType_5 .tempColor_6 .tempSec .tempTbl tr th {
    background: #94735c;
}
.am_wrapbox .tempType_5 .tIcon {
    width: 23px;
    height: 23px;
}
.am_wrapbox .tempType_6 .tempTop .visual {
    height: 433px;
}
.am_wrapbox .tempType_6 .tempTop .visual .dLogo {
    top: 17px;
    text-align: center;
}
.am_wrapbox .tempType_6 .tempTop .visual .dTit {
    top: 130px;
    left: 0;
    text-align: center;
    color: #fff!important;
}
.am_wrapbox .tempType_6 .tempColor_1 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #494949;
}
.am_wrapbox .tempType_6 .tempColor_1 .tempSec .tIcon {
    background: #969696;
}
.am_wrapbox .tempType_6 .tempColor_1 .tempSec .tempTbl tr th {
    background: #6c6c6c;
}
.am_wrapbox .tempType_6 .tempColor_2 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #0966a2;
}
.am_wrapbox .tempType_6 .tempColor_2 .tempSec .tIcon {
    background: #2990d3;
}
.am_wrapbox .tempType_6 .tempColor_2 .tempSec .tempTbl tr th {
    background: #0a74b9;
}
.am_wrapbox .tempType_6 .tempColor_3 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #45a835;
}
.am_wrapbox .tempType_6 .tempColor_3 .tempSec .tIcon {
    background: #5ecf4b;
}
.am_wrapbox .tempType_6 .tempColor_3 .tempSec .tempTbl tr th {
    background: #53bc42;
}
.am_wrapbox .tempType_6 .tempColor_4 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #f7bb2d;
}
.am_wrapbox .tempType_6 .tempColor_4 .tempSec .tIcon,
.am_wrapbox .tempType_6 .tempColor_4 .tempSec .tempTbl tr th {
    background: #ffc333;
}
.am_wrapbox .tempType_6 .tempColor_5 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #ff781e;
}
.am_wrapbox .tempType_6 .tempColor_5 .tempSec .tIcon {
    background: #ff934a;
}
.am_wrapbox .tempType_6 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ff7c24;
}
.am_wrapbox .tempType_6 .tempColor_6 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #866c5b;
}
.am_wrapbox .tempType_6 .tempColor_6 .tempSec .tIcon {
    background: #866c5b;
}
.am_wrapbox .tempType_6 .tempColor_6 .tempSec .tempTbl tr th {
    background: #7c604d;
}
.am_wrapbox .tempType_6 .tIcon {
    position: absolute;
    top: 22px;
    left: 0;
    width: 28px;
    height: 3px;
}
.am_wrapbox .tempType_6 .tempSec {
    padding: 26px 0 0;
}
.am_wrapbox .tempType_6 .tempSec .txtWp {
    padding: 8px 26px 0 0;
}
.am_wrapbox .tempType_6 .tempRecruit {
    padding: 24px 0 0;
}
.am_wrapbox .tempType_6 .tempRecruit .tIcon {
    top: 20px;
}
.am_wrapbox .tempType_7,
.am_wrapbox .tempType_8 {
    margin-top: -29px;
}
.am_wrapbox .tempType_7 .tempTop .visual,
.am_wrapbox .tempType_8 .tempTop .visual {
    height: 420px;
    line-height: 47%;
}
.am_wrapbox .tempType_7 .tempTop .visual .dLogo {
    top: 135px;
    left: 20px;
    text-align: left;
}
.am_wrapbox .tempType_7 .tempTop .visual .dTit {
    top: 197px;
    left: -10px;
    width: 380px;
    text-align: left;
}
.am_wrapbox .tempType_7 .tempColor_1 .tempSec .tIcon {
    background-position: 0-200px;
}
.am_wrapbox .tempType_7 .tempColor_1 .tempSec .tempTbl tr th {
    background: #f3f3f3;
    border-top: 2px solid #8e8e8e;
    color: #202020;
}
.am_wrapbox .tempType_7 .tempColor_2 .tempSec .tIcon {
    background-position: -36px -200px;
}
.am_wrapbox .tempType_7 .tempColor_2 .tempSec .tempTbl tr th {
    background: #f0f9ff;
    border-top: 2px solid #5a607f;
    color: #1b1956;
}
.am_wrapbox .tempType_7 .tempColor_3 .tempSec .tIcon {
    background-position: -72px -200px;
}
.am_wrapbox .tempType_7 .tempColor_3 .tempSec .tempTbl tr th {
    background: #e8f4e4;
    border-top: 2px solid #9cb39a;
    color: #14460d;
}
.am_wrapbox .tempType_7 .tempColor_4 .tempSec .tIcon {
    background-position: -108px -200px;
}
.am_wrapbox .tempType_7 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff9e6;
    border-top: 2px solid #ffd565;
    color: #82663a;
}
.am_wrapbox .tempType_7 .tempColor_5 .tempSec .tIcon {
    background-position: -144px -200px;
}
.am_wrapbox .tempType_7 .tempColor_5 .tempSec .tempTbl tr th {
    background: #fff7f2;
    border-top: 2px solid #ff945a;
    color: #9c491c;
}
.am_wrapbox .tempType_7 .tempColor_6 .tempSec .tIcon {
    background-position: -180px -200px;
}
.am_wrapbox .tempType_7 .tempColor_6 .tempSec .tempTbl tr th {
    background: #fff6f0;
    border-top: 2px solid #826958;
    color: #60412b;
}
.am_wrapbox .tempType_7 .tempTbl tr th,
.am_wrapbox .tempType_8 .tempTbl tr th {
    height: 36px!important;
}
.am_wrapbox .tempType_7 .tIcon {
    width: 25px;
    height: 25px;
}
.am_wrapbox .tempType_8 .tempTop .visual .dLogo {
    top: 135px;
    left: 20px;
    text-align: left;
}
.am_wrapbox .tempType_8 .tempTop .visual .dTit {
    top: 197px;
    left: -10px;
    width: 380px;
    text-align: left;
}
.am_wrapbox .tempType_8 .tempColor_1 .tempSec .tIcon {
    background-position: 0-240px;
}
.am_wrapbox .tempType_8 .tempColor_1 .tempSec .tempTbl tr th {
    background: #f3f3f3;
    border-top: 2px solid #8e8e8e;
    color: #202020;
}
.am_wrapbox .tempType_8 .tempColor_2 .tempSec .tIcon {
    background-position: -36px -240px;
}
.am_wrapbox .tempType_8 .tempColor_2 .tempSec .tempTbl tr th {
    background: #f0f9ff;
    border-top: 2px solid #5a607f;
    color: #1b1956;
}
.am_wrapbox .tempType_8 .tempColor_3 .tempSec .tIcon {
    background-position: -72px -240px;
}
.am_wrapbox .tempType_8 .tempColor_3 .tempSec .tempTbl tr th {
    background: #e8f4e4;
    border-top: 2px solid #9cb39a;
    color: #14460d;
}
.am_wrapbox .tempType_8 .tempColor_4 .tempSec .tIcon {
    background-position: -108px -240px;
}
.am_wrapbox .tempType_8 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff9e6;
    border-top: 2px solid #ffd565;
    color: #82663a;
}
.am_wrapbox .tempType_8 .tempColor_5 .tempSec .tIcon {
    background-position: -144px -240px;
}
.am_wrapbox .tempType_8 .tempColor_5 .tempSec .tempTbl tr th {
    background: #fff7f2;
    border-top: 2px solid #ff945a;
    color: #9c491c;
}
.am_wrapbox .tempType_8 .tempColor_6 .tempSec .tIcon {
    background-position: -180px -240px;
}
.am_wrapbox .tempType_8 .tempColor_6 .tempSec .tempTbl tr th {
    background: #fff6f0;
    border-top: 2px solid #826958;
    color: #60412b;
}
.am_wrapbox .tempType_8 .tIcon {
    width: 26px;
    height: 24px;
    margin-right: 5px!important;
    vertical-align: -2px!important;
}