/* a1 */
.wrapbox {
    max-width: 750px;
    min-width: 400px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 1rem;
    line-height: 1.05em;
    color: #494949;
    border: 1px solid #d3d3d3;
    padding: 0 20px 40px;
    font-family: Pretendard Variable, -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, arial, sans-serif;
}

.wrapbox .logo {
    text-align: right;
    padding: 10px 0 8px;
    margin: 0;
}

.wrapbox .logo img {
    width: 90px;
}

.wrapbox .topimg {
    max-width: 100%;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.wrapbox h1 {
    font-size: 1.9em;
    font-weight: bold;
    padding: 15px;
    line-height: 1.4em;
    margin: 0;
    color: #5132CB;
}

.wrapbox h1 span {
    display: inline-block;
    line-height: 1.5em;
}

.wrapbox h2 {
    clear: both;
    font-size: 1.4em;
    padding: 20px 0;
    margin: 30px 0 0;
    color: #5132CB;
    font-weight: bold;
}

.wrapbox h2 img {
    padding-right: 3px;
}

.wrapbox h3 {
    color: #000;
}

.wrapbox p.txt {
    width: 100%;
    line-height: 1.5em;
    margin-top: 0;
    padding-left: 5px;
}

.wrapbox ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.97em;
    margin-left: 20px;
}

.wrapbox li {
    margin: 0 0 6px;
    padding: 0 0 0 15px;
    background: url("https://img.albamon.kr/etc/monform_v3/common/bul_st.png") no-repeat 2px 7px;
    line-height: 1.8em;
    list-style: none;
}

.wrapbox .step li {
    float: left;
    width: 86px;
    height: 80px;
    padding: 35px 0 0 10px;
    text-align: center;
    font-size: 1.1em;
    text-align: center;
}

.wrapbox table {
    width: 100%;
}

.wrapbox table,
.wrapbox td,
.wrapbox tr {
    padding: 0.2em;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.97em;
    line-height: 1.6em;
}

.wrapbox thead th {
    background: #e9e3ff;
    color: #494949;
    border-top: 2px solid #5132CB;
    border-bottom: 2px solid #5132CB;
    padding: 5px 0 7px;
    font-weight: bold;
    border-right: 1px solid #d3d3d3;
}

.wrapbox tbody td {
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    padding: 10px 0;
}

.wrapbox tbody .end,
.wrapbox thead .end {
    border-right: 0 none;
}

.wrapbox a {
    text-decoration: underline;
}

.wrapbox .btn {
    text-align: center;
    margin: 30px auto 50px;
    padding: 10px;
}

.wrapbox .btn img {
    vertical-align: middle;
    margin-right: 5px;
}

.wrapbox img {
    border: none;
}