.am_wrapbox {
    min-width: 320px;
    max-width: 695px;
    margin: 0 auto;
    padding: 29px 10px;
    box-sizing: border-box;
    background: #fff;
}
.am_wrapbox * {
    box-sizing: border-box;
}
.am_wrapbox .tempArea,
body,
h1,
td {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.am_wrapbox .tempArea .tempTop {
    position: relative;
}
.am_wrapbox .tempArea .tempTop .visual {
    overflow: hidden;
    position: relative;
}
.am_wrapbox .tempArea .tempTop .visual .dLogo {
    display: table;
    width: 100%;
    max-height: 25px;
    text-align: center;
}
.am_wrapbox .tempArea .tempTop .visual .dLogo span {
    display: table-cell;
    vertical-align: middle;
}
.am_wrapbox .tempArea .tempTop .visual .dLogo img {
    max-height: 25px;
    vertical-align: middle;
}
.am_wrapbox .tempArea .tempTop .visual .dPic img {
    width: 100%;
    min-width: 250px;
    max-width: 715px;
    vertical-align: top;
}
.am_wrapbox .tempArea .tempTop .visual .dTit {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    padding: 0 5%;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -0.5px;
    line-height: 1.75rem;
    text-align: center;
    color: #202020;
    background: 0 0;
}
.am_wrapbox .tempArea .tempSec {
    position: relative;
    margin: 22px 0 0;
    padding: 5px 0 0;
}
.am_wrapbox .tempArea .tempSec .sTempTit {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #191919;
}
.am_wrapbox .tempArea .tempSec .sTempTit .tIcon {
    display: inline-block;
    margin-right: 4px;
    background: #fff url("https://mc.albamon.kr/monimg/mws/corp/detail/icon_title_1.png") no-repeat 0 0;
    background-size: 150px auto;
    vertical-align: -1px;
}
.am_wrapbox .tempArea .tempSec .txtWp {
    padding: 8px 15px 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #171717;
}
.am_wrapbox .tempArea .tempSec .txtWp .sIcon {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin-right: 6px;
    background: url("https://mc.albamon.kr/monimg/mws/corp/detail/icon_detail_all.png") no-repeat -125px 0;
    background-size: 200px auto;
    vertical-align: middle;
}
.am_wrapbox .tempArea .tempSec .txtWp ul li {
    padding: 0 0 0 8px;
    background: url("https://mc.albamon.kr/monimg/mws/corp/detail/icon_spot_1.png") no-repeat 0 13px;
    background-size: 2px auto;
    word-wrap: break-word;
    word-break: break-all;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl tr th {
    padding: 4px 10px;
    height: 38px;
    border-left: 1px solid #c1c1c1;
    background: #6c6c6c;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #fff;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl tr th:first-child {
    width: 30%;
    border-left: none;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl tr td {
    padding: 10px 14px 13px;
    border-bottom: 1px solid #c1c1c1;
    border-left: 1px solid #bdc4cb;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #171717;
    word-wrap: break-word;
    word-break: break-all;
}
.am_wrapbox .tempArea .tempSec .txtWp .tempTbl tr td:first-child {
    padding: 10px 10px 13px;
    border-left: none;
    font-weight: 700;
    text-align: center;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table {
    width: 100% !important;
    margin: 0;
    border-collapse: collapse;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table:not(:first-of-type) {
    margin-top: 16px;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr > td > span,
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr th {
    border: 1px solid #c1c1c1;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr > td > span {
    display: block;
    border-top: none;
    border-bottom: none;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr:first-child > td > span {
    border-top: 1px solid #c1c1c1;
}
.am_wrapbox .tempArea .tempSec .txtWp figure.table tr th:first-child {
    width: 30%;
}
.am_wrapbox .tempArea .tempSec .txtWp > figure.table {
    width: calc(100% + 30px) !important;
    margin: 0 -15px;
}
.am_wrapbox .tempArea .tempSec .txtWp > figure.table table {
    width: 100%;
}
.am_wrapbox .tempArea .tempRecruit {
    margin: 25px 0 0;
}
.am_wrapbox .tempArea .tempRecruit .txtWp {
    padding: 10px 0 0;
}
.am_wrapbox .tempArea .tempWork {
    margin: 30px 0 0;
}
.am_wrapbox .tempArea .bLogo {
    padding: 15px 0 0;
}
.am_wrapbox .tempArea .bLogo img {
    width: 100%;
}
.am_wrapbox_1 {
    max-width: 620px;
    padding-top: 0;
}
.am_wrapbox_1 .tempArea .tempTop .visual .dPic img {
    max-width: 620px;
    vertical-align: top;
}
.am_wrapbox_2 {
    padding: 10px;
}
.am_wrapbox .tempType_1 .tempTop .visual .dLogo {
    position: absolute;
    top: 13%;
    left: 0;
    width: 100%;
    text-align: center;
}
.am_wrapbox .tempType_1 .tempTop .visual .dTit {
    top: 35%;
    text-align: center;
}
.am_wrapbox .tempType_1 .tempColor_1 .tempTop .visual {
    border-top: 5px solid #202020;
    border-bottom: 3px solid #202020;
}
.am_wrapbox .tempType_1 .tempColor_2 .tempTop .visual {
    border-top: 5px solid #0170b9;
    border-bottom: 3px solid #0170b9;
}
.am_wrapbox .tempType_1 .tempColor_3 .tempTop .visual {
    border-top: 5px solid #7fca67;
    border-bottom: 3px solid #7fca67;
}
.am_wrapbox .tempType_1 .tempColor_4 .tempTop .visual {
    border-top: 5px solid #ffce59;
    border-bottom: 3px solid #ffce59;
}
.am_wrapbox .tempType_1 .tempColor_5 .tempTop .visual {
    border-top: 5px solid #ff772d;
    border-bottom: 3px solid #ff772d;
}
.am_wrapbox .tempType_1 .tempColor_6 .tempTop .visual {
    border-top: 5px solid #905d3b;
    border-bottom: 3px solid #905d3b;
}
.am_wrapbox .tempType_1 .tempColor_1 .tempSec .tIcon {
    background-position: 0 0;
}
.am_wrapbox .tempType_1 .tempColor_2 .tempSec .tIcon {
    background-position: -21px 0;
}
.am_wrapbox .tempType_1 .tempColor_3 .tempSec .tIcon {
    background-position: -43px 0;
}
.am_wrapbox .tempType_1 .tempColor_4 .tempSec .tIcon {
    background-position: -66px 0;
}
.am_wrapbox .tempType_1 .tempColor_5 .tempSec .tIcon {
    background-position: -89px 0;
}
.am_wrapbox .tempType_1 .tempColor_6 .tempSec .tIcon {
    background-position: -111px 0;
}
.am_wrapbox .tempType_1 .tempColor_1 .tempSec .tempTbl tr th {
    background: #6c6c6c;
}
.am_wrapbox .tempType_1 .tempColor_2 .tempSec .tempTbl tr th {
    background: #0170b9;
}
.am_wrapbox .tempType_1 .tempColor_3 .tempSec .tempTbl tr th {
    background: #5ebf4f;
}
.am_wrapbox .tempType_1 .tempColor_4 .tempSec .tempTbl tr th {
    background: #ffbd1f;
}
.am_wrapbox .tempType_1 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ff7428;
}
.am_wrapbox .tempType_1 .tempColor_6 .tempSec .tempTbl tr th {
    background: #8c674e;
}
.am_wrapbox .tempType_1 .tIcon {
    width: 15px;
    height: 14px;
}
.am_wrapbox .tempType_2 .tempTop .visual .dLogo {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100%;
    text-align: center;
}
.am_wrapbox .tempType_2 .tempTop .visual .dTit {
    top: 37%;
    text-align: center;
}
.am_wrapbox .tempType_2 .tempColor_1 .tempSec .tIcon {
    background-position: 0-20px;
}
.am_wrapbox .tempType_2 .tempColor_2 .tempSec .tIcon {
    background-position: -21px -20px;
}
.am_wrapbox .tempType_2 .tempColor_3 .tempSec .tIcon {
    background-position: -43px -20px;
}
.am_wrapbox .tempType_2 .tempColor_4 .tempSec .tIcon {
    background-position: -66px -20px;
}
.am_wrapbox .tempType_2 .tempColor_5 .tempSec .tIcon {
    background-position: -89px -20px;
}
.am_wrapbox .tempType_2 .tempColor_6 .tempSec .tIcon {
    background-position: -111px -20px;
}
.am_wrapbox .tempType_2 .tempColor_1 .tempSec .tempTbl tr th {
    background: #e8eaec;
    border-top: 2px solid #7e7e7e;
}
.am_wrapbox .tempType_2 .tempColor_2 .tempSec .tempTbl tr th {
    background: #c8e6f9;
    border-top: 2px solid #60a1cb;
}
.am_wrapbox .tempType_2 .tempColor_3 .tempSec .tempTbl tr th {
    background: #cff5c9;
    border-top: 2px solid #69c95b;
}
.am_wrapbox .tempType_2 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff4b8;
    border-top: 2px solid #fbdf6d;
}
.am_wrapbox .tempType_2 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ffe5d7;
    border-top: 2px solid #ff9459;
}
.am_wrapbox .tempType_2 .tempColor_6 .tempSec .tempTbl tr th {
    background: #f2e6de;
    border-top: 2px solid #b69b88;
}
.am_wrapbox .tempType_2 .tempTbl tr th,
.am_wrapbox .tempType_3 .tempTbl tr th,
.am_wrapbox .tempType_4 .tempTbl tr th {
    height: 36px !important;
    color: #202020 !important;
}
.am_wrapbox .tempType_2 .tempTbl tr th input,
.am_wrapbox .tempType_3 .tempTbl tr th input,
.am_wrapbox .tempType_4 .tempTbl tr th input {
    border: 1px solid #898989 !important;
    color: #202020 !important;
}
.am_wrapbox .tempType_2 .tIcon {
    width: 14px;
    height: 14px;
}
.am_wrapbox .tempType_3 .tempTop .visual .dLogo {
    position: absolute;
    top: 29%;
    left: 0;
    width: 100%;
    text-align: center;
}
.am_wrapbox .tempType_3 .tempTop .visual .dTit {
    top: 49% !important;
    text-align: center;
}
.am_wrapbox .tempType_3 .tempColor_1 .tempSec .tIcon {
    background-position: 0-40px;
}
.am_wrapbox .tempType_3 .tempColor_2 .tempSec .tIcon {
    background-position: -21px -40px;
}
.am_wrapbox .tempType_3 .tempColor_3 .tempSec .tIcon {
    background-position: -43px -40px;
}
.am_wrapbox .tempType_3 .tempColor_4 .tempSec .tIcon {
    background-position: -66px -40px;
}
.am_wrapbox .tempType_3 .tempColor_5 .tempSec .tIcon {
    background-position: -89px -40px;
}
.am_wrapbox .tempType_3 .tempColor_6 .tempSec .tIcon {
    background-position: -111px -40px;
}
.am_wrapbox .tempType_3 .tempColor_1 .tempSec .tempTbl tr th {
    background: #e6e6e6;
    border-top: 2px solid #676767;
}
.am_wrapbox .tempType_3 .tempColor_2 .tempSec .tempTbl tr th {
    background: #cdebff;
    border-top: 2px solid #0a74b9;
}
.am_wrapbox .tempType_3 .tempColor_3 .tempSec .tempTbl tr th {
    background: #cef0c8;
    border-top: 2px solid #80b66e;
}
.am_wrapbox .tempType_3 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff4b8;
    border-top: 2px solid #ffc600;
}
.am_wrapbox .tempType_3 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ffe8db;
    border-top: 2px solid #ff9150;
}
.am_wrapbox .tempType_3 .tempColor_6 .tempSec .tempTbl tr th {
    background: #f8ede5;
    border-top: 2px solid #aa856c;
}
.am_wrapbox .tempType_3 .tIcon,
.am_wrapbox .tempType_4 .tIcon {
    width: 17px;
    height: 17px;
    vertical-align: -3px !important;
}
.am_wrapbox .tempType_4 .tempTop .visual {
    border-bottom: 1px solid #b1a79d !important;
}
.am_wrapbox .tempType_4 .tempTop .visual .dLogo {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    padding: 0 0 0 10px;
    text-align: left !important;
}
.am_wrapbox .tempType_4 .tempTop .visual .dTit {
    top: 24% !important;
    width: 90%;
    padding: 0 0 0 9px;
    text-align: left !important;
}
.am_wrapbox .tempType_4 .tempColor_1 .tempTop .visual {
    border-top: 3px solid #5a5a5a;
}
.am_wrapbox .tempType_4 .tempColor_2 .tempTop .visual {
    border-top: 3px solid #016cb2;
}
.am_wrapbox .tempType_4 .tempColor_3 .tempTop .visual {
    border-top: 3px solid #80cf74;
}
.am_wrapbox .tempType_4 .tempColor_4 .tempTop .visual {
    border-top: 3px solid #ffce59;
}
.am_wrapbox .tempType_4 .tempColor_5 .tempTop .visual {
    border-top: 3px solid #ff7827;
}
.am_wrapbox .tempType_4 .tempColor_6 .tempTop .visual {
    border-top: 3px solid #b17d5a;
}
.am_wrapbox .tempType_4 .tempColor_1 .tempSec .tIcon {
    background-position: 0-60px;
}
.am_wrapbox .tempType_4 .tempColor_2 .tempSec .tIcon {
    background-position: -21px -60px;
}
.am_wrapbox .tempType_4 .tempColor_3 .tempSec .tIcon {
    background-position: -43px -60px;
}
.am_wrapbox .tempType_4 .tempColor_4 .tempSec .tIcon {
    background-position: -66px -60px;
}
.am_wrapbox .tempType_4 .tempColor_5 .tempSec .tIcon {
    background-position: -89px -60px;
}
.am_wrapbox .tempType_4 .tempColor_6 .tempSec .tIcon {
    background-position: -111px -60px;
}
.am_wrapbox .tempType_4 .tempColor_1 .tempSec .tempTbl tr th {
    background: #e9e9e9;
    border-top: 2px solid #7f7f7f;
}
.am_wrapbox .tempType_4 .tempColor_2 .tempSec .tempTbl tr th {
    background: #cfecff;
    border-top: 2px solid #499ad0;
}
.am_wrapbox .tempType_4 .tempColor_3 .tempSec .tempTbl tr th {
    background: #d7f8d2;
    border-top: 2px solid #92d987;
}
.am_wrapbox .tempType_4 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff4b8;
    border-top: 2px solid #fff4b8;
}
.am_wrapbox .tempType_4 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ffe4d4;
    border-top: 2px solid #ffb081;
}
.am_wrapbox .tempType_4 .tempColor_6 .tempSec .tempTbl tr th {
    background: #f4e7df;
    border-top: 2px solid #bca291;
}
.am_wrapbox .tempType_5 .tempTop .visual .dLogo {
    position: absolute;
    top: 51%;
    left: 0;
    width: 100%;
    text-align: center;
}
.am_wrapbox .tempType_5 .tempTop .visual .dTit {
    top: 70% !important;
    text-align: center;
}
.am_wrapbox .tempType_5 .tempColor_1 .tempTop .visual {
    border-top: 3px solid #616161;
    border-bottom: 3px solid #616161;
}
.am_wrapbox .tempType_5 .tempColor_2 .tempTop .visual {
    border-top: 3px solid #1a8bd4;
    border-bottom: 3px solid #1a8bd4;
}
.am_wrapbox .tempType_5 .tempColor_3 .tempTop .visual {
    border-top: 3px solid #84d178;
    border-bottom: 3px solid #84d178;
}
.am_wrapbox .tempType_5 .tempColor_4 .tempTop .visual {
    border-top: 3px solid #ffce5a;
    border-bottom: 3px solid #ffce5a;
}
.am_wrapbox .tempType_5 .tempColor_5 .tempTop .visual {
    border-top: 3px solid #ff8533;
    border-bottom: 3px solid #ff8533;
}
.am_wrapbox .tempType_5 .tempColor_6 .tempTop .visual {
    border-top: 3px solid #9c7961;
    border-bottom: 3px solid #9c7961;
}
.am_wrapbox .tempType_5 .tempColor_1 .tempSec .tIcon {
    background-position: 0-80px;
}
.am_wrapbox .tempType_5 .tempColor_2 .tempSec .tIcon {
    background-position: -21px -80px;
}
.am_wrapbox .tempType_5 .tempColor_3 .tempSec .tIcon {
    background-position: -43px -80px;
}
.am_wrapbox .tempType_5 .tempColor_4 .tempSec .tIcon {
    background-position: -66px -80px;
}
.am_wrapbox .tempType_5 .tempColor_5 .tempSec .tIcon {
    background-position: -89px -80px;
}
.am_wrapbox .tempType_5 .tempColor_6 .tempSec .tIcon {
    background-position: -111px -80px;
}
.am_wrapbox .tempType_5 .tempColor_1 .tempSec .tempTbl tr th {
    background: #6c6c6c;
}
.am_wrapbox .tempType_5 .tempColor_2 .tempSec .tempTbl tr th {
    background: #0a74b9;
}
.am_wrapbox .tempType_5 .tempColor_3 .tempSec .tempTbl tr th {
    background: #63bf55;
}
.am_wrapbox .tempType_5 .tempColor_4 .tempSec .tempTbl tr th {
    background: #ffc333;
}
.am_wrapbox .tempType_5 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ff7a31;
}
.am_wrapbox .tempType_5 .tempColor_6 .tempSec .tempTbl tr th {
    background: #94735c;
}
.am_wrapbox .tempType_5 .tIcon {
    width: 13px;
    height: 13px;
}
.am_wrapbox .tempType_6 .tempTop .visual .dLogo {
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
    text-align: center;
}
.am_wrapbox .tempType_6 .tempTop .visual .dTit {
    top: 33% !important;
    text-align: center;
    color: #fff;
}
.am_wrapbox .tempType_6 .tempTop .visual .dTit textarea.taTit {
    color: #fff !important;
}
.am_wrapbox .tempType_6 .tempColor_1 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #494949;
}
.am_wrapbox .tempType_6 .tempColor_2 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #0966a2;
}
.am_wrapbox .tempType_6 .tempColor_3 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #45a835;
}
.am_wrapbox .tempType_6 .tempColor_4 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #f7bb2d;
}
.am_wrapbox .tempType_6 .tempColor_5 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #ff781e;
}
.am_wrapbox .tempType_6 .tempColor_6 .tempTop .visual {
    border-top: 1px solid #a5a7aa;
    border-bottom: 3px solid #866c5b;
}
.am_wrapbox .tempType_6 .tempColor_1 .tempSec .tIcon {
    background: #969696;
}
.am_wrapbox .tempType_6 .tempColor_2 .tempSec .tIcon {
    background: #2990d3;
}
.am_wrapbox .tempType_6 .tempColor_3 .tempSec .tIcon {
    background: #5ecf4b;
}
.am_wrapbox .tempType_6 .tempColor_4 .tempSec .tIcon {
    background: #ffc333;
}
.am_wrapbox .tempType_6 .tempColor_5 .tempSec .tIcon {
    background: #ff934a;
}
.am_wrapbox .tempType_6 .tempColor_6 .tempSec .tIcon {
    background: #866c5b;
}
.am_wrapbox .tempType_6 .tempColor_1 .tempSec .tempTbl tr th {
    background: #6c6c6c;
}
.am_wrapbox .tempType_6 .tempColor_2 .tempSec .tempTbl tr th {
    background: #0a74b9;
}
.am_wrapbox .tempType_6 .tempColor_3 .tempSec .tempTbl tr th {
    background: #53bc42;
}
.am_wrapbox .tempType_6 .tempColor_4 .tempSec .tempTbl tr th {
    background: #ffc333;
}
.am_wrapbox .tempType_6 .tempColor_5 .tempSec .tempTbl tr th {
    background: #ff7c24;
}
.am_wrapbox .tempType_6 .tempColor_6 .tempSec .tempTbl tr th {
    background: #7c604d;
}
.am_wrapbox .tempType_6 .tIcon {
    position: absolute;
    top: 16px;
    left: 0;
    width: 28px;
    height: 3px;
}
.am_wrapbox .tempType_6 .tempSec {
    padding: 26px 0 0;
}
.am_wrapbox .tempType_6 .tempSec .txtWp {
    padding: 8px 0 0;
}
.am_wrapbox .tempType_7 {
    margin-top: -28px;
}
.am_wrapbox .tempType_7 .tempTop .visual .dLogo {
    position: absolute;
    top: 35%;
    left: 3%;
    width: 100%;
    text-align: left;
}
.am_wrapbox .tempType_7 .tempTop .visual .dTit {
    top: 51% !important;
    width: 70% !important;
    padding: 0 3% !important;
    text-align: left;
}
.am_wrapbox .tempType_7 .tempColor_1 .tempSec .tIcon {
    background-position: 0-120px;
}
.am_wrapbox .tempType_7 .tempColor_2 .tempSec .tIcon {
    background-position: -23px -120px;
}
.am_wrapbox .tempType_7 .tempColor_3 .tempSec .tIcon {
    background-position: -47px -120px;
}
.am_wrapbox .tempType_7 .tempColor_4 .tempSec .tIcon {
    background-position: -72px -120px;
}
.am_wrapbox .tempType_7 .tempColor_5 .tempSec .tIcon {
    background-position: -97px -120px;
}
.am_wrapbox .tempType_7 .tempColor_6 .tempSec .tIcon {
    background-position: -121px -120px;
}
.am_wrapbox .tempType_7 .tempColor_1 .tempSec .tempTbl tr th {
    background: #f3f3f3;
    border-top: 2px solid #8e8e8e;
    color: #202020;
}
.am_wrapbox .tempType_7 .tempColor_2 .tempSec .tempTbl tr th {
    background: #f0f9ff;
    border-top: 2px solid #5a607f;
    color: #1b1956;
}
.am_wrapbox .tempType_7 .tempColor_3 .tempSec .tempTbl tr th {
    background: #e8f4e4;
    border-top: 2px solid #9cb39a;
    color: #14460d;
}
.am_wrapbox .tempType_7 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff9e6;
    border-top: 2px solid #ffd565;
    color: #82663a;
}
.am_wrapbox .tempType_7 .tempColor_5 .tempSec .tempTbl tr th {
    background: #fff7f2;
    border-top: 2px solid #ff945a;
    color: #9c491c;
}
.am_wrapbox .tempType_7 .tempColor_6 .tempSec .tempTbl tr th {
    background: #fff6f0;
    border-top: 2px solid #826958;
    color: #60412b;
}
.am_wrapbox .tempType_7 .tIcon {
    width: 15px;
    height: 15px;
    background-size: 164px auto !important;
}
.am_wrapbox_1 .tempType_7 {
    margin-top: 0;
}
.am_wrapbox .tempType_8 {
    margin-top: -28px;
}
.am_wrapbox .tempType_8 .tempTop .visual .dLogo {
    position: absolute;
    top: 35%;
    left: 3%;
    width: 100%;
    text-align: left;
}
.am_wrapbox .tempType_8 .tempTop .visual .dTit {
    top: 51% !important;
    width: 70% !important;
    padding: 0 3% !important;
    text-align: left;
}
.am_wrapbox .tempType_8 .tempColor_1 .tempSec .tIcon {
    background-position: 0-144px;
}
.am_wrapbox .tempType_8 .tempColor_2 .tempSec .tIcon {
    background-position: -23px -144px;
}
.am_wrapbox .tempType_8 .tempColor_3 .tempSec .tIcon {
    background-position: -48px -144px;
}
.am_wrapbox .tempType_8 .tempColor_4 .tempSec .tIcon {
    background-position: -74px -144px;
}
.am_wrapbox .tempType_8 .tempColor_5 .tempSec .tIcon {
    background-position: -100px -144px;
}
.am_wrapbox .tempType_8 .tempColor_6 .tempSec .tIcon {
    background-position: -125px -144px;
}
.am_wrapbox .tempType_8 .tempColor_1 .tempSec .tempTbl tr th {
    background: #f3f3f3;
    border-top: 2px solid #8e8e8e;
    color: #202020;
}
.am_wrapbox .tempType_8 .tempColor_2 .tempSec .tempTbl tr th {
    background: #f0f9ff;
    border-top: 2px solid #5a607f;
    color: #1b1956;
}
.am_wrapbox .tempType_8 .tempColor_3 .tempSec .tempTbl tr th {
    background: #e8f4e4;
    border-top: 2px solid #9cb39a;
    color: #14460d;
}
.am_wrapbox .tempType_8 .tempColor_4 .tempSec .tempTbl tr th {
    background: #fff9e6;
    border-top: 2px solid #ffd565;
    color: #82663a;
}
.am_wrapbox .tempType_8 .tempColor_5 .tempSec .tempTbl tr th {
    background: #fff7f2;
    border-top: 2px solid #ff945a;
    color: #9c491c;
}
.am_wrapbox .tempType_8 .tempColor_6 .tempSec .tempTbl tr th {
    background: #fff6f0;
    border-top: 2px solid #826958;
    color: #60412b;
}
.am_wrapbox .tempType_8 .tIcon {
    width: 15px;
    height: 16px;
    background-size: 168px auto !important;
    vertical-align: -1px !important;
}
.am_wrapbox_1 .tempType_8 {
    margin-top: 0;
}
.am_wrapbox .addDescription {
    margin-top: 25px;
    word-break: keep-all;
}
.am_wrapbox .addDescription p {
    line-height: 1.5em;
}