@charset "utf-8"; * {
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif!important
}

@font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(/content/webfont/pretendard/woff2-subset/Pretendard-Regular.subset.woff2) format("woff2"),url(/content/webfont/pretendard/woff-subset/Pretendard-Regular.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(/content/webfont/pretendard/woff2-subset/Pretendard-SemiBold.subset.woff2) format("woff2"),url(/content/webfont/pretendard/woff-subset/Pretendard-SemiBold.subset.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(/content/webfont/pretendard/woff2-subset/Pretendard-Bold.subset.woff2) format("woff2"),url(/content/webfont/pretendard/woff-subset/Pretendard-Bold.subset.woff) format("woff")
}

.wrap {width:max-content; margin:0 auto; background:#fff; }
.box {display:grid; grid-template-columns:repeat(2,max-content); column-gap:50px; }
.box dt {display:grid; grid-template-rows:repeat(3,max-content); row-gap:20px; }
.box dt h2 {font-size:42px/42px Pretendard; color:000; font-weight:bold; }
.box dt h5 {font:15px/18px Pretendard; }
.table01 {display:grid; grid-auto-flow:row; border-top:2px solid #000; box-sizing:border-box; background:#fff; }
.table01 * {box-sizing:border-box; word-break:keep-all; text-align:left; color:#222; }
.table01 h1, .table01 h2, .table01 h3,
.table01 h4, .table01 h5, .table01 h6, .table01 b, .table01 strong {font-weight:bold; }
.table01 li {display:grid; grid-auto-flow:column; column-gap:20px; justify-content:space-between; border-bottom:1px solid #999; }
.table01 li * {padding:10px; }
.table01 li h4:nth-of-type(even)  {background:#e1e1e1; }
.table01 ll.tb01_job {display:grid; grid-auto-flow:row; row-gap:25px; }
.table01 li h4 div {display:flex; flex-flow:column nowrap; }


























